# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.venv/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# Logs
*.log

# Optional assets
*.png
*.jpg
*.jpeg
*.gif